doctype html
html(lang='en')
  head
    meta(charset='utf8')
    base(href='/')
    title Angular GUI Crawler
    link(rel='stylesheet', href='/css/app.css')
  body(data-ng-app='guiCrawlerApp')
    block body